[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lifelike-gds = {file = ".", editable = true}

[dev-packages]
black = "~=21.9b0"
pre-commit = "~=2.15.0"
pytest = "~=6.2.5"
build = "*"
jupyterlab = "*"

[requires]
python_version = "3.9"
